In [112]:
import pandas as pd
import spacy

In [113]:
data = pd.read_csv('spam.csv')

In [114]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [115]:
#So first we will make new column in data to make spame as 1 and ham as 0.
#Logic 1.
data['spam_detector'] = data['Category'].apply(lambda x:1 if x =='spam' else 0)
#'spam_detector' is the new row which is made new

# Logic 2 (Mine) but this  will not work in Pandas this core python logic
def sp(x):
    if x == 'spam':
        return 1
    else:
        return 0

data['spam_detect_AADI'] = data['Category'].apply(sp)

In [117]:
data

,Category,Message,spam_detector
0,ham,"Go until jurong point, crazy.. Available only ...",0
1,ham,Ok lar... Joking wif u oni...,0
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,1
3,ham,U dun say so early hor... U c already then say...,0
4,ham,"Nah I don't think he goes to usf, he lives aro...",0
...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,1
5568,ham,Will ü b going to esplanade fr home?,0
5569,ham,"Pity, * was in mood for that. So...any other s...",0
5570,ham,The guy did some bitching but I acted like i'd...,0
5571,ham,Rofl. Its true to its name,0

In [136]:
# Now Training and testing the data
from sklearn.model_selection import train_test_split
X_train , X_test ,y_train, y_test = train_test_split(data.Message , data.spam_detector , test_size = 0.5)

In [138]:
X_train.shape

(2786,)